/* ============================================================
  RESET Stylesheet
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
}
body h1 {
  font-size: 50px;
}
body .btn {
  font-family: "Source Code Pro", monospace;
  background-color: pink;
  border: solid 1px rosybrown;
  filter: drop-shadow(8px 8px 12px #fff);
  padding: 12px 40px;
  display: inline-block;
  cursor: pointer;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  transition: all 1s;
  z-index: 3;
}
body .btn:hover {
  background-color: white;
}
body .butterfly1, body .butterfly2, body .butterfly3, body .butterfly4 {
  width: 30px;
  position: absolute;
  z-index: 3;
}
body .butterfly1, body .butterfly3 {
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .butterfly2, body .butterfly4 {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}

#splash-screen.show,
#game-over.show,
#game-board.show,
#player-won.show {
  display: block;
}
#splash-screen.hide,
#game-over.hide,
#game-board.hide,
#player-won.hide {
  display: none;
}

#game-over,
#game-board,
#player-won {
  display: none;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#player-won {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 400px;
  height: 300px;
  text-align: center;
  border: solid 5px pink;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 20px 40px;
  text-align: center;
  z-index: 3;
}
#player-won p {
  margin: 20px auto;
  font-size: 28px;
  line-height: 30px;
}
#player-won .btn {
  margin-top: 40px;
}

#game-over {
  background-color: #B7EEFF;
}

/* ================ Splash Screen ================ */
#splash-screen {
  background-color: #B7EEFF;
}
#splash-screen .sun {
  animation-name: floating-soft;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  width: 140px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@keyframes floating-soft {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
#splash-screen .pig {
  animation-name: floating-soft;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  position: absolute;
  right: 50px;
  bottom: 200px;
  width: 150px;
}
@keyframes floating-soft {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
#splash-screen .butterfly1 {
  top: 300px;
  left: 100px;
}
#splash-screen .butterfly2 {
  top: 100px;
  right: 100px;
}
#splash-screen .butterfly3 {
  bottom: 100px;
  right: 180px;
}
#splash-screen .butterfly4 {
  bottom: 140px;
  left: 180px;
}
#splash-screen .screen-elements {
  border: solid 5px pink;
  filter: drop-shadow(0px 14px 14px #fff);
  border-radius: 20px;
  padding: 12px 20px;
  width: 500px;
  height: 500px;
  line-height: 30px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#splash-screen .screen-elements .bg-layer1, #splash-screen .screen-elements .bg-layer2 {
  width: 100%;
  position: absolute;
  left: 0px;
  z-index: 0;
}
#splash-screen .screen-elements .bg-layer1 {
  top: 240px;
}
#splash-screen .screen-elements .bg-layer2 {
  top: 50px;
}
#splash-screen .screen-elements .text-wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 0;
  z-index: 1;
  border-radius: 20px;
}
#splash-screen .screen-elements .text-wrapper h1 {
  margin: 10px 0 30px 0;
  font-size: 50px;
}
#splash-screen .screen-elements .text-wrapper .description {
  width: 400px;
  margin: 30px auto;
  font-size: 20px;
  line-height: 1.6em;
}
#splash-screen .screen-elements .btn {
  margin-top: 30px;
}

/* ================ Game over Screen ================ */
#game-over h1 {
  margin: 40px auto;
  width: 350px;
  line-height: 60px;
}

/* ================ Game board ================ */
#game-board h1.title-game {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  text-align: left;
}
#game-board .frame-game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #B7EEFF;
  overflow: hidden;
}
#game-board #pig {
  width: 152px;
  height: 140px;
  position: absolute;
  bottom: 30px;
  left: 40%;
  z-index: 3;
  transition: transform 0.5s;
}
#game-board #pig .pig {
  width: 100%;
  height: 100%;
  background-image: url("../img/pig-walk.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -10px;
}
#game-board #pig img.leg1, #game-board #pig img.leg2 {
  opacity: 1;
  position: absolute;
  width: 35px;
}
#game-board #pig img.leg1 {
  right: 9px;
  bottom: 0;
  transform: rotate(-10deg);
}
#game-board #pig img.leg2 {
  left: 30px;
  bottom: 0px;
  transform: rotate(10deg);
  z-index: -1;
}
#game-board #pig.walk img.leg1 {
  animation-name: walking-right;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes walking-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-80px) rotate(40deg);
  }
  100% {
    transform: translateX(0);
  }
}
#game-board #pig.walk img.leg2 {
  animation-name: walking-left;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes walking-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px) rotate(-40deg);
  }
  100% {
    transform: translateX(0);
  }
}
#game-board #pig.jump {
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.02, 0.73, 0.46, 1.28);
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-140px);
  }
  50% {
    transform: translateY(0);
  }
  57% {
    transform: translateY(-7px);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
#game-board #pig.jump .pig {
  background-image: url("../img/pig-jump.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -50px;
  width: 160px;
  height: 184px;
}
#game-board #pig.jump img.leg1, #game-board #pig.jump img.leg2 {
  opacity: 0;
}
#game-board #pig.touched {
  -webkit-filter: drop-shadow(2px 4px 6px salmon);
  filter: drop-shadow(2px 4px 6px salmon);
}
#game-board #pig .ouch, #game-board #pig .yummy {
  opacity: 0;
  font-family: "Source Code Pro", monospace;
  position: absolute;
  transition: all 0.3s;
  filter: drop-shadow(2px 4px 6px salmon);
}
#game-board #pig .ouch.visible, #game-board #pig .yummy.visible {
  opacity: 1;
}
#game-board #pig .ouch {
  top: -30px;
  right: -30px;
  transform: rotate(10deg);
}
#game-board #pig .yummy {
  top: -70px;
  left: -10px;
  transform: rotate(-20deg);
}
#game-board .butcher {
  position: absolute;
  top: 30px;
  left: 20%;
}
#game-board .butcher img {
  width: 150px;
}
#game-board .butcher.moving {
  animation-name: moving;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moving {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(45vw);
  }
  100% {
    transform: translateX(0);
  }
}
#game-board .knife {
  width: 50px;
  height: auto;
  position: absolute;
  z-index: 3;
  transition: transform 0.3s 0s;
}
#game-board .knife img {
  width: 100%;
}
#game-board .knife.falling {
  animation-name: falling;
  animation-duration: 8s;
  animation-iteration-count: inf1inite;
  animation-timing-function: ease-out;
}
@keyframes falling {
  0% {
    top: 0px;
  }
  100% {
    top: 100vh;
  }
}
#game-board .landscape .stick-go {
  width: 100px;
  position: absolute;
  left: 30px;
  bottom: 290px;
  z-index: 9999;
}
#game-board .landscape .first-layer-bg,
#game-board .landscape .second-layer-bg {
  transition: transform 0.3s;
}
#game-board .landscape .first-layer-bg {
  background-image: url("../img/first-layer-bg.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  height: 45vh;
  width: 4500px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
#game-board .landscape .second-layer-bg-wrapper {
  width: 2250px;
  position: absolute;
  top: 150px;
  display: flex;
}
#game-board .landscape .second-layer-bg-wrapper .second-layer-bg {
  background-image: url("../img/second-layer-bg.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  height: 65vh;
  width: 100%;
  position: relative;
}
#game-board .landscape .second-layer-bg-wrapper .second-layer-bg .the-end {
  width: 110px;
  position: absolute;
  right: 200px;
  top: 50px;
  z-index: 9999;
}
#game-board .sun {
  animation-name: floating-soft;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  width: 140px;
  position: absolute;
  top: 30px;
  left: 120px;
}
@keyframes floating-soft {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
#game-board .butterfly1 {
  top: 110px;
  left: 30px;
}
#game-board .butterfly2 {
  display: none;
}
#game-board .butterfly3 {
  top: 130px;
  left: 300px;
}
#game-board .butterfly4 {
  top: 210px;
  left: 150px;
}
#game-board .fruits {
  z-index: 1;
  bottom: 50vh;
  position: absolute;
  transition: transform 0.3s;
}
#game-board .fruits span.fruit {
  animation-name: floating;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  position: absolute;
  height: 40px;
  top: 0px;
  transition: all 0.5s;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
#game-board .fruits span.fruit.eaten {
  filter: drop-shadow(2px 4px 4px salmon);
  transform: translateY(15%) !important;
  animation-name: eaten;
  animation-delay: 0.5s;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes eaten {
  0% {
    opacity: 1;
    transform: rotate(20deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(40deg);
  }
  100% {
    opacity: 0;
    transform: rotate(80deg);
  }
}
#game-board .fruits span.fruit img {
  height: 100%;
  filter: drop-shadow(3px 8px 10px #fff);
}
#game-board .fruits span.fruit:nth-child(1) {
  left: 0px;
}
#game-board .fruits span.fruit:nth-child(2) {
  left: 80px;
}
#game-board .fruits span.fruit:nth-child(3) {
  left: 160px;
}
#game-board .fruits span.fruit:nth-child(4) {
  left: 240px;
}
#game-board .peaches {
  left: 600px;
}
#game-board .strawberries {
  left: 1200px;
  width: 250px;
}
#game-board .avocados {
  left: 1700px;
}
#game-board .carrots {
  left: 2200px;
}
#game-board .carrots span.fruit {
  height: 60px;
}
#game-board .peaches2 {
  left: 2600px;
}
#game-board .avocados2 {
  left: 3200px;
}
#game-board .carrots2 {
  left: 3700px;
}
#game-board .carrots2 span.fruit {
  height: 60px;
}
#game-board .dialog {
  font-family: "Source Code Pro", monospace;
  position: absolute;
  z-index: 3;
  border-radius: 10px;
  padding: 12px 20px;
  width: 230px;
  line-height: 30px;
  font-size: 15px;
  right: 10px;
}
#game-board .lives {
  top: 10px;
  text-align: left;
  border: solid 1px salmon;
  background-color: rgba(255, 255, 255, 0.5);
}
#game-board .lives-left {
  display: flex;
  justify-content: space-between;
}
#game-board .lives-left span.live {
  border: solid 1px salmon;
  background-color: pink;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px 5px 0 0;
}
#game-board .lives-left span.live.lost {
  border: solid 1px grey;
  background-color: #ccc;
}
#game-board .dialog-the-end {
  border: solid 1px #23882b;
  background-color: rgba(183, 248, 210, 0.6);
  top: 110px;
}
#game-board .dialog-lives {
  opacity: 0;
  border: solid 1px salmon;
  background-color: rgba(250, 128, 114, 0.5);
  top: 205px;
  transition: all 0.2s;
}
#game-board .dialog-lives.visible {
  opacity: 1;
}
#game-board #stop-game {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 130px;
  font-size: 15px;
  text-align: center;
}
#game-board .btn-commands {
  font-family: "Source Code Pro", monospace;
  background-color: #eaeaea;
  border: solid 1px grey;
  position: absolute;
  left: 10px;
  width: 130px;
  padding: 12px 10px;
  display: inline-block;
  cursor: text;
  color: black;
  border-radius: 10px;
  font-size: 15px;
  transition: all 1s;
  z-index: 3;
  text-align: center;
}
#game-board .btn-commands#how-to-go-forwards {
  bottom: 60px;
}
#game-board .btn-commands#how-to-go-backwards {
  bottom: 110px;
}
#game-board .btn-commands#how-to-jump {
  bottom: 160px;
}

/*# sourceMappingURL=main.css.map */
