// CSS ANIMATIONS with Keyframes 

// fruit is eaten

@mixin eaten {
  
  animation-name: eaten;
  animation-delay: 0.5s;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  @keyframes eaten {

    0% { opacity: 1; transform: rotate(20deg); }
    50% { opacity: 0.5; transform: rotate(40deg); }
    100% { opacity: 0; transform: rotate(80deg); }
  }
}

// legs of Pig are walking!
@mixin walking-right {
  
  animation-name: walking-right;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  @keyframes walking-right {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-80px) rotate(40deg);}
    100% { transform: translateX(0); }
  }
}

@mixin walking-left {
  
  animation-name: walking-left;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  @keyframes walking-left {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(80px) rotate(-40deg); }
    100% { transform: translateX(0); }
  }

}

// Butcher moves (slowly, like following the pig)

@mixin moving {
  
  animation-name: moving;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes moving {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(45vw); }
    100% { transform: translateX(0); }
  }
}

// Knives are falling from butcher's hand

@mixin falling {
  
  animation-name: falling;
  animation-duration: 8s;
  animation-iteration-count: inf1inite;
  animation-timing-function: ease-out;

  @keyframes falling {
    0%   { top: 0px; }
    100%  { top: 100vh; }
  }

}

// Pig jumps

@mixin jump {
  
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.02,.73,.46,1.28);
  
    @keyframes jump {
      0%   { transform: translateY(0); }
      10%  { transform: translateY(0); }
      30%  { transform: translateY(-140px); }
      50%  { transform: translateY(0); }
      57%  { transform: translateY(-7px); }
      64%  { transform: translateY(0); }
      100% { transform: translateY(0); }
    }

}

// Pig jumps with distorsion

@mixin jump-with-distorsion {
  
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.02,.73,.46,1.28);

  @keyframes jump {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-200px); }
    50%  { transform: scale(1,.95)    translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
  }
}

// Elements floating (example: clouds, fruits)

@mixin floating($duration) {
    animation-name: floating;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  
    @keyframes floating {
      0% { transform: translateY(0%); }
      50% { transform: translateY(30%); }
      100% { transform: translateY(0%); }
    }
}

@mixin floating-soft {
  animation-name: floating-soft;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  @keyframes floating-soft {
    0% { transform: translateY(0%); }
    50% { transform: translateY(8%); }
    100% { transform: translateY(0%); }
  }
}