@import 'reset';
@import 'animations';

body {
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;

    h1 {
        font-size: 50px;
    }
    
    .btn {
        font-family: 'Source Code Pro', monospace;
        background-color: pink;
        border: solid 1px rosybrown;
        filter: drop-shadow(8px 8px 12px #fff);
        padding: 12px 40px;
        display: inline-block;
        cursor: pointer;
        color: black;
        border-radius: 10px;
        font-size: 16px;
        transition: all 1s;
        z-index: 3;

        &:hover {
            background-color: white;
        }
    }

    .butterfly1, .butterfly2, .butterfly3, .butterfly4 {
        width: 30px;
        position: absolute;
        z-index: 3;
    }

    .butterfly1, .butterfly3 {
        @include floating(2.5s);
    }

    .butterfly2, .butterfly4 {
        @include floating(2s);
    }

}

#splash-screen,
#game-over,
#game-board,
#player-won {
    &.show {
        display: block;
    }
    &.hide {
        display: none;
    }
}

#game-over,
#game-board,
#player-won {
    display: none;          // initial state
}


.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

#player-won {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 400px;
    height: 300px;   
    text-align: center; 

    border: solid 5px pink;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 20px 40px;
    text-align: center;
    z-index: 3;

    p {
        margin: 20px auto;
        font-size: 28px;
        line-height: 30px;
    }

    .btn {
        margin-top: 40px;
    }
}

#game-over {
    background-color: #B7EEFF;
}


/* ================ Splash Screen ================ */
#splash-screen { 
    background-color: #B7EEFF;

    .sun {
        @include floating-soft;
        width: 140px;
        position: absolute;
        top: 20px;
        left: 20px; 
    }

    .pig {
        @include floating-soft;
        position: absolute;
        right: 50px;
        bottom: 200px;
        width: 150px;
    }

    .butterfly1 {
        top: 300px;
        left: 100px; 
    }

    .butterfly2 {
        top: 100px;
        right: 100px; 
    }

    .butterfly3 {
        bottom: 100px;
        right: 180px; 
    }

    .butterfly4 {
        bottom: 140px;
        left: 180px; 
    }

    .screen-elements {
        //border: 3px solid black;
        border: solid 5px pink;
        filter: drop-shadow(0px 14px 14px #fff);
        border-radius: 20px;
        padding: 12px 20px;
        width: 500px;
        height: 500px;
        line-height: 30px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        .bg-layer1, .bg-layer2 {
            width: 100%;
            position: absolute;
            left: 0px;
            z-index: 0;
        }

        .bg-layer1 {
            top: 240px;
        }
        .bg-layer2 {
            top: 50px;
        }

        .text-wrapper {

            background-color: rgba($color: white, $alpha: 0.4);
            padding: 20px 0;
            z-index: 1;
            border-radius: 20px;

            h1 {
                margin: 10px 0 30px 0;
                font-size: 50px;
            }
        
            .description {
                width: 400px;
                margin: 30px auto;
                font-size: 20px;
                line-height: 1.6em;
            }
        }
        .btn {
            margin-top: 30px;
        }

    }

}

/* ================ Game over Screen ================ */

#game-over {
    h1 {
        margin: 40px auto;
        width: 350px;
        line-height: 60px;
    }
}


/* ================ Game board ================ */

#game-board {

    h1.title-game {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 40px;
        text-align: left;
    }

    .frame-game {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #B7EEFF;
        overflow: hidden;
    }

    #pig {
        width: 152px;
        height: 140px;
        position: absolute;
        bottom: 30px;
        left: 40%;
        z-index: 3;
        transition: transform 0.5s;

        .pig {
            width: 100%;
            height: 100%;
            background-image: url('../img/pig-walk.png');
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: -10px;
        }

        img.leg1, img.leg2 {
            opacity: 1;
            position: absolute;
            width: 35px;
        }

        img.leg1 {
            right: 9px;
            bottom: 0;
            transform: rotate(-10deg);
        }

        img.leg2 {
            left: 30px;
            bottom: 0px;
            transform: rotate(10deg);
            z-index: -1;
        }

        &.walk {
            img.leg1 {
                @include walking-right;
            }
    
            img.leg2 {
                @include walking-left;
            }
        }

        &.jump {
            @include jump;
            .pig {
                background-image: url('../img/pig-jump.png');
                background-repeat: no-repeat;
                background-size: contain;
                margin-top: -50px;
                width: 160px;
                height: 184px;
            }

            img.leg1, img.leg2 {
                opacity: 0;
            }

        }

        &.touched {
            -webkit-filter: drop-shadow(2px 4px 6px salmon);
            filter: drop-shadow(2px 4px 6px salmon);
        }

        .ouch, .yummy {
            opacity: 0;
            font-family: 'Source Code Pro', monospace;
            position: absolute;
            transition: all 0.3s;
            filter: drop-shadow(2px 4px 6px salmon);

            &.visible {
                opacity: 1;
            }
        }

        .ouch {
            top: -30px;
            right: -30px;
            transform: rotate(10deg);
        }

        .yummy {
            top: -70px;
            left: -10px;
            transform: rotate(-20deg);
        }

    }

    .butcher {
        position: absolute;
        top: 30px;
        left: 20%;  // starts after the title 

        img {
            width: 150px;
        }

        &.moving {
            // butcher "follows" pig!
            @include moving;
        }
    }

    .knife {
        width: 70px;
        height: auto;
        position: absolute;
        z-index: 3;
        transition: transform 0.3s 0s;

        img {
            width: 100%;
        }

        &.falling {
            @include falling;
        }

    }

    .landscape {

        // first layer contains the fruits, and challenges. 
        // second layer contains the bg that moves slower.

        .first-layer-bg, 
        .second-layer-bg {
            transition: transform 0.3s;
        }

        .herbs-layer-bg {
            background-image: url('../img/herbs.png');
            background-repeat: repeat-x;
            background-size: contain;
            background-position: bottom;
            height: 60px;
            width: 4000px;
            position: absolute;
            bottom: 0;
            z-index: 2;
        }

        .first-layer-bg {
            background-image: url('../img/first-layer-bg.png');
            background-repeat: repeat-x;
            background-size: contain;
            background-position: bottom;
            height: 45vh;
            width: 4000px;
            position: absolute;
            bottom: 0;
            z-index: 1;
        }

        .second-layer-bg-wrapper {
            width: 2000px;     // doble size, because it will move half speed
            position: absolute;
            top: 150px;
            display: flex;

            .second-layer-bg {
                background-image: url('../img/second-layer-bg.png');
                background-repeat: repeat-x;
                background-size: contain;
                background-position: bottom;
                height: 65vh;
                width: 100%;
                position: relative;

                .the-end {
                    background-color: brown;
                    border: solid 1px black;
                    width: 30px;
                    height: 100%;
                    position: absolute;
                    right: 150px;   //to give a bit of margin for the delay
                    top: 0px;
                    z-index: 9999;
                }
            }
        }
    }

    // Floating elements 

    .sun {
        @include floating-soft;
        width: 140px;
        position: absolute;
        top: 30px;
        left: 120px; 
    }

    .butterfly1 {
        top: 320px;
        left: 80px; 
    }

    .butterfly2 {
        display: none; 
    }

    .butterfly3 {
        top: 130px;
        left: 300px;
    }

    .butterfly4 {
        top: 210px;
        left: 150px;
    }

    // Fruits
    .fruits {
        z-index: 1;
        bottom: 50vh;
        position: absolute;
        transition: transform 0.3s;

        span.fruit {
            @include floating(1.6s);
            position: absolute;
            height: 40px;
            top: 0px;
            transition: all 0.5s;

            &.eaten {
                filter: drop-shadow(2px 4px 4px salmon);
                transform: translateY(15%) !important;         // to reset the constant bouncing
                @include eaten;
            }
            
            img {
                height: 100%;
                filter: drop-shadow(3px 8px 10px #fff);
            }

            &:nth-child(1) {
                left: 0px;
            }
            &:nth-child(2) {
                left: 80px;
            }
            &:nth-child(3) {
                left: 160px;
            }
            &:nth-child(4) {
                left: 240px;
            }
        }
    }

    .peaches {
        left: 600px;
    }

    .strawberries {
        left: 1200px;
        width: 250px;
    } 

    .avocados {
        left: 1700px;
    }

    .carrots {
        left: 2200px;
        span.fruit{
            // carrots are bigger
            height: 60px;       
        }      
    }

    .peaches2 {
        left: 2600px;
    }

    .avocados2 {
        left: 3200px;
    }

    .carrots2 {
        left: 3700px;
        span.fruit{
            // carrots are bigger
            height: 60px;       
        }      
    }

    .dialog {
        font-family: 'Source Code Pro', monospace;
        position: absolute;
        z-index: 3;
        border-radius: 10px;
        padding: 12px 20px;
        width: 230px;
        line-height: 30px;
        font-size: 15px;
        right: 10px;
    }

    // counter of lives
    .lives {
        top: 10px;
        text-align: left;
        border: solid 1px salmon;
        background-color: rgba(white, $alpha: 0.5);

        &-left {
            display: flex;
            justify-content: space-between;

            span.live {
                border: solid 1px salmon;
                background-color: pink;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin: 10px 5px 0 0;

                &.lost {
                    border: solid 1px grey;
                    background-color:#ccc;
                }
            }
        }
    }

    .dialog-the-end {
        border: solid 1px rgb(35, 136, 43);
        background-color: rgba(rgb(183, 248, 210), $alpha: 0.6);
        top: 110px;
    }

    .dialog-lives {
        opacity: 0;
        border: solid 1px salmon;
        background-color: rgba(salmon, $alpha: 0.5);
        top: 205px;
        transition: all 0.2s;

        &.visible {
            opacity: 1;
        }
    }

    #stop-game {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 130px;
        font-size: 15px;
        text-align: center;
    }

    .btn-commands {
        font-family: 'Source Code Pro', monospace;
        background-color: #eaeaea;
        border: solid 1px grey;
        position: absolute;
        left: 10px;
        width: 130px;
        padding: 12px 10px;
        display: inline-block;
        cursor: text;
        color: black;
        border-radius: 10px;
        font-size: 15px;
        transition: all 1s;
        z-index: 3;
        text-align: center;

        &#how-to-go-forwards {
            bottom: 60px;
        }
        &#how-to-go-backwards {
            bottom: 110px;
        }
        &#how-to-jump {
            bottom: 160px;
        }
    }

}


